<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="keepAlive" property="keepAlive" jdbcType="BIT"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled"/>
        <association property="meta" javaType="org.sang.bean.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
            <result column="requireAuth" property="requireAuth"/>
        </association>
        <collection property="roles" ofType="org.sang.bean.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>
        <collection property="children" ofType="org.sang.bean.Menu">
            <id column="id2" property="id"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="enabled2" property="enabled"/>
            <association property="meta" javaType="org.sang.bean.MenuMeta">
                <result column="keepAlive2" property="keepAlive"/>
                <result column="requireAuth2" property="requireAuth"/>
            </association>
            <collection property="children" ofType="org.sang.bean.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="LeafResultMap" type="org.sang.bean.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnamezh from menu m left join menu_role mr on m.`id`=mr.`mid` left join role r on mr.`rid`=r.`id` WHERE m.`enabled`=true and m.isdeleted=false order by m.`id` desc
    </select>




    <select id="getMenusByRid" resultMap="LeafResultMap">
        SELECT m.id,m.parentId from menu m,menu_role mr WHERE m.id=mr.mid and m.isdeleted=0 and mr.rid=#{rid}
    </select>


    <!--获取带角色的菜单树形数据-->
    <resultMap id="MenuTreeByRoleResultMap" type="org.sang.bean.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled"/>
        <association property="meta" javaType="org.sang.bean.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
            <result column="requireAuth" property="requireAuth"/>
        </association>
        <collection property="roles" ofType="org.sang.bean.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>
    </resultMap>
    <sql id="MenuTree_Column_ByRole">
        m.`id`,m.`url`,m.`path`,m.`component`,m.`iconCls`,m.`name`,m.`requireAuth`,m.`parentId`,m.`enabled`,mr.`rid`,r.`name` rname,r.`nameZh` rnamezh
    </sql>
    <select id="getMenuTreeByHrId" parameterType="Long" resultMap="MenuTreeByRoleResultMap">
        SELECT
        <include refid="MenuTree_Column_ByRole"/>
        FROM menu m,hr_role hr,menu_role mr,role r
        WHERE m.id=mr.mid and mr.rid=hr.rid and mr.rid=r.id and m.isdeleted=0 and hr.hrid=#{hrId}
    </select>



    <!--获取不带角色的菜单树形数据-->
    <resultMap id="MenuTreeResultMap" type="org.sang.bean.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled"/>
        <association property="meta" javaType="org.sang.bean.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
            <result column="requireAuth" property="requireAuth"/>
        </association>
        <collection column="{id=id}" property="children" javaType="java.util.ArrayList"
                    ofType="org.sang.bean.Menu" select="getNextNodeTree"/>
    </resultMap>
    <sql id="MenuTree_Column">
        m.`id`,m.`url`,m.`path`,m.`component`,m.`iconCls`,m.`name`,m.`requireAuth`,m.`parentId`,m.`enabled`
    </sql>
    <select id="getNextNodeTree" resultMap="MenuTreeResultMap">
        SELECT
        <include refid="MenuTree_Column"/>
        FROM menu m
        WHERE m.isdeleted=0 and m.parentId = #{id}
    </select>
    <select id="menuTree" resultMap="MenuTreeResultMap">
        SELECT
        <include refid="MenuTree_Column"/>
        FROM menu m
        WHERE m.isdeleted=0 and m.parentId is null
    </select>



    <insert id="addMenu" parameterType="org.sang.bean.Menu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu SET url=#{url},path=#{path},component=#{component},name=#{name},iconCls=#{iconCls},requireAuth=#{meta.requireAuth},parentId=#{parentId},enabled=#{enabled}
    </insert>
    <update id="updateMenu" parameterType="org.sang.bean.Menu">
        UPDATE menu SET url=#{url},path=#{path},component=#{component},name=#{name},iconCls=#{iconCls},requireAuth=#{meta.requireAuth},parentId=#{parentId},enabled=#{enabled} WHERE id=#{id}
    </update>
    <update id="deleteMenu" parameterType="Long">
        UPDATE menu SET isdeleted=1 WHERE id=#{id}
    </update>

</mapper>