<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.RoleMapper">
    <select id="getRolesByHrid" parameterType="Long" resultType="org.sang.bean.Role">
        SELECT role.* FROM hr,hr_role,role WHERE hr.id=hr_role.hrid AND hr_role.rid=role.id AND hr.id=#{hrid};
    </select>
    <insert id="addNewRole">
        INSERT INTO role set name=#{role},nameZh=#{roleZh}
    </insert>
    <delete id="deleteRoleById" parameterType="Long">
        DELETE FROM role WHERE id=#{rid}
    </delete>
</mapper>